<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="Campanas" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'-Campanas.log'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d{HH:mm:ss,fff} %-35.35c{0} %-25.25M - %m%n"/>
      </layout>
    </appender>
    <appender name="IntegracionASB" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'-IntegracionASB.log'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d{HH:mm:ss,fff} %-35.35c{0} %-25.25M - %m%n"/>
      </layout>
    </appender>
    <logger name="IntegracionASBLogger">
      <level value="DEBUG"/>
      <appender-ref ref="IntegracionASB"/>
    </logger>
    <logger name="CampanasLogger">
      <level value="DEBUG"/>
      <appender-ref ref="Campanas"/>
    </logger>
  </log4net>
  <system.diagnostics>  
	  <sources>  
		<source name="System.ServiceModel"  
				switchValue="Information, ActivityTracing"  
				propagateActivity="true" >  
		  <listeners>  
			<add name="xml"/>  
		  </listeners>  
		</source>  
		<source name="System.ServiceModel.MessageLogging">  
		  <listeners>  
			<add name="xml"/>  
		  </listeners>  
		</source>  
		<source name="myUserTraceSource"  
				switchValue="Information, ActivityTracing">  
		  <listeners>  
			<add name="xml"/>  
		  </listeners>  
		</source>  
	  </sources>  
	  <sharedListeners>  
		<add name="xml"  
			 type="System.Diagnostics.XmlWriterTraceListener"  
				   initializeData="C:\inetpub\wwwroot\campanasWebV14.0SB\logs\Traces.svclog" />  
	  </sharedListeners>  
  </system.diagnostics>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>

	<add key="PackageWSCampanas" value="PKGTBL_WS_WEB_V13_0"/>
	
    <!--!TelefonicaChile-->
    <!--variables para servidor de correo-->
    <add key="smtpHost" value="10.182.5.157"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpUser" value="admin"/>
    <add key="smtpPass" value="qwe123"/>
    
    <!-- Variable para Lectura de Archivo SpeedDial-->
    <!--
    <add key="speedDialPath" value=".\speedDialList.json"/>
    -->
    <add key="speedDialPath" value="C:\inetpub\wwwroot\campanasWebV14.0SB\speedDialList.json"/>

    
	<add key="deltaSegundosAgendaReferido" value="60"/>
    <!-- Variable para asignar cantidad maxima de reagendamientos -->
    <add key="cantidadMaxReagendamiento" value="4"/>
    <!-- Variable para configurar el delta de minutos entre agendas-->
    <add key="deltaMinutosEntreAgendas" value="5"/>
    <!-- Variable para configurar la hora minima para agendar un registro-->
    <add key="horaMinimaAgenda" value="8"/>
    <!-- Variable para configurar la hora maxima para agendar un registro-->
    <add key="horaMaximaAgenda" value="23"/>

	<!-- Variable que contiene Delta para Registros CMB (en minutos)-->
    <add key="deltaMinutosRegistrosCMB" value="5"/>
	
    <!-- CONFIGURACION PARA SCRIPTER -->
    <!-- Variable para configurar el maximo de dias que se puede agendar un registro (agenda manual) -->
    <add key="maximoDiasAgenda" value="5"/>
    <!-- Variable para configurar el maximo de dias que se puede agendar un registro (agenda normal - Botonera) -->
    <add key="maximoDiasAgendaNormal" value="30"/>
    <!-- Variables para configurar Máximos de Intentos de Llamada (Sino se desea controlar se debe eliminar o indicar valor menor o igual a 0) -->
    <!-- Llamadas Inbound -->
    <add key="maximoIntentosDiscadorIN" value="7"/>
    <add key="maximoIntentosManualIN" value="5"/>
    <!-- Llamadas ASB -->
    <add key="maximoIntentosDiscadorASB" value="7"/>
    <add key="maximoIntentosManualASB" value="5"/>
    <!-- Llamadas Outbound -->
    <add key="maximoIntentosDiscadorOUT" value="7"/>
    <add key="maximoIntentosManualOUT" value="5"/>
	
	<!-- Variable para configurar Cierre Automatico de LLamada-->
    <add key="cierreAutomaticoLlamada" value="9"/>
    <add key="msgCierreAutomaticoLlamada" value="8"/>

	
    <!-- Variable que contiene Codigo Finalización Venta-->
    <add key="codigoFinalizacionVenta" value="10900"/>

	<!-- Variable que contiene IdTypology para Venta Referido -->
    <add key="idTypologyReferido" value="10901"/>
    <add key="motivoTypologyReferido" value="Venta"/>
    <add key="subMotivoTypologyReferido" value="Venta Referida"/>

    <!-- Variables para ajuste de Cuartiles-->
    <add key="Q4_min" value="0"/>
    <add key="Q4_max" value="24"/>
    <add key="Q3_min" value="25"/>
    <add key="Q3_max" value="49"/>
    <add key="Q2_min" value="50"/>
    <add key="Q2_max" value="74"/>
    <add key="Q1_min" value="75"/>
    <add key="Q1_max" value="100"/>

    <add key="QDefault" value="Q4"/>
	
   <!--variables para control integracion ASB-->
    <add key="token_CO_DI" value="uhPiB3XIrJrrF8rQd7%2BNNdgLA65EhCNwU5oiXNRW3Xs"/>
    <add key="token_CL_KO" value="AisokOkpx9a%2FMgsGFZGKNQU%2FbmXJf1uTgAkNzGeOpK4"/>
    <add key="token_CL_VP" value="hOmC9Dtv6PCBrtfMwB6gAxnJes94MUZaoo8vd%2BM5Cxw"/>
    <add key="token_PE_DI" value="%2Bfwudl40Msec2F8SDhMPoNT4OLYZeSE1zQ%2B%2BNy9iuHM"/>
	<add key="token_PE_KC" value="vQ9L%2B1d8JupY%2Fyaoa3jD3gyH16fsmAwK8wZ0VT4zFdY"/>
    <add key="maximoIntentos" value="3"/>
    <add key="tiempoEntreReintentos" value="2"/>
    <add key="lan" value="es"/>

    <add key="ProxyServer" value="http://proxy80.tchile.local:80"/>
    <add key="ProxyUserName" value="icadminm"/>
    <add key="ProxyPassword" value="Scadm11$"/>
    <add key="ProxyDomain" value="tchile"/>

	<!-- Variable para configurar maximo ejecuciones de IVR Confirmacion de Venta-->
    <add key="maxEjecucionesIVRConfirmacionVenta" value="3"/>
    <!-- Variable para configurar DNIS audio agente-->
    <add key="dnisAudioAgenteIVRConfirmacionVenta" value="1800"/>

    <!-- Variable para referenciar Package de Servicios-->
   <add key="PackageWSCampanas" value="PKGTBL_WS_WEB_V13_0"/>
	 <!-- Variable para autenticacion ASB-->
	<add key="WsUserName" value="ws_accenture"/>
    <add key="WsPassword" value="b4PRjA7uitQQ2ydldRZx"/>
	
	
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <!--<customErrors mode="Off"/>-->
    <!-- Descomentar para ver errores del respuesta del servidor-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
	<defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>    
    <bindings>
      <basicHttpBinding>
        <binding name="AgendaSoap"  useDefaultWebProxy="true" sendTimeout="00:06:00" />
        <binding name="HandlerLeadsSoap" useDefaultWebProxy="true" >
          <security mode="Transport" />
        </binding>        
      </basicHttpBinding>
    </bindings>
       <client>
      <endpoint address="http://10.181.147.26/Ws_Agenda_Web/Ws_Agenda.asmx"
          binding="basicHttpBinding" bindingConfiguration="AgendaSoap"
          contract="WS_AGENDA.AgendaSoap" name="AgendaSoap" />      
      <endpoint address="https://asb-movistarchile.ddsuite.net/core/ws/ws.handler.php?WSDL"
          binding="basicHttpBinding" bindingConfiguration="HandlerLeadsSoap"
          contract="Ws_ASB.HandlerLeadsSoap"
          name="HandlerLeadsSoap" />        
    </client>
	
	
	
	<diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>
  </system.serviceModel>
<connectionStrings>
     <!--<add name="campanasConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=sva-db-scan)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=svainin))); User Id=negocio;Password=Six.1200;Enlist=false;Pooling=true;Min Pool Size=10;Max Pool Size=100"/>
  </connectionStrings>-->
  <add name="campanasConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=sva-st-scan.tchile.local)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=psmtinin.tchile.local))); User Id=negocio;Password=Six.1200;Enlist=false;Pooling=true;Min Pool Size=10;Max Pool Size=100"/>
  </connectionStrings>
  
</configuration>